#btncontainer {
    padding-top: 200px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

button {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

#results {
    padding-top: 20px;
    text-align: center;
}
